{% extends 'users/base.html' %}

{% block content %}
    <div id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="8u 12u(mobile)">
                        <section>
                            <a>Here can be your upcoming reservations</a>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <a>Make a new reservation</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}