{% extends 'users/base.html' %}

{% block title %}
	Index
{% endblock %}

{% block content %}
    <div id="content-wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <section>
                            <a>
                                Here will be who is currently printing
                            </a>
                        </section>
                    </div>
                    <div class="8u 12u(mobile)">
                        <section>
                            <a>
                                Here is the daily calendar view of the site.
                            </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
