{% extends "users/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <div id="content">
            <div class="container">
                <header>
                    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
                </header>
                <div class="row">
                    <div class="4u 12u(mobile)"></div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <h5>Username:</h5>
                            <div class="input-group margin-bottom-xs">
                                <span class="input-group-addon"><i class="fa fa-user-o fa-lg fa-fw"></i></span>
                                <input class="form-control" id="disabledInput"
                                       placeholder={{ user.username }} disabled="" type="text">
                            </div>
                            <h5>Email:</h5>
                            <div class="input-group margin-bottom-xs">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                                <input class="form-control" id="disabledInput" placeholder={{ user.email }} disabled=""
                                       type="text">
                            </div>
                            <h5>First Name:</h5>
                            <div class="input-group margin-bottom-xs">
                                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg fa-fw"></i></span>
                                <input class="form-control" id="disabledInput"
                                       placeholder={{ user.first_name }} disabled="" type="text">
                            </div>
                            <h5>Last Name:</h5>
                            <div class="input-group margin-bottom-xs">
                                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg fa-fw"></i></span>
                                <input class="form-control" id="disabledInput"
                                       placeholder={{ user.last_name }} disabled="" type="text">
                            </div>
                            <h5>Amount Printed:</h5>
                            <div class="input-group margin-bottom-xs">
                                <span class="input-group-addon"><i class="fa fa-balance-scale fa-lg fa-fw"></i></span>
                                <input class="form-control" id="disabledInput"
                                       placeholder="0 Grams" disabled="" type="text">
                            </div>
                            </br>
                            <div align="right">
                                <a class="btn btn-success btn-md" type="button" href='/profile/edit/'
                                   style="color:white">
                                    <i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp;Edit Profile
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
