{% extends "users/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

    <form action="/accounts/register/" method="post">{% csrf_token %}
        <div id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="4u 12u(mobile)">
                        </div>
                        <div class="4u 12u(mobile)">
                            <section>
                                <h1>Registration</h1>
                                <br>
                                <h5>Username:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i class="fa fa-user-o fa-lg fa-fw"></i></span>
                                    {{ form.username }}
                                </div>
                                <div>
                                    {% if form.username.errors %}
                                        {% for error in form.username.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h5>Password:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
                                    {{ form.password1 }}
                                </div>
                                <div>
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h5>Reenter Password:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
                                    {{ form.password2 }}
                                </div>
                                <div>
                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h5>Email Address:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                                    {{ form.email }}
                                </div>
                                <div>
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h5>First Name:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i
                                            class="fa fa-user-circle-o fa-lg fa-fw"></i></span>
                                    {{ form.first_name }}
                                </div>
                                <div>
                                    {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h5>Last Name:</h5>
                                <div class="input-group margin-bottom-xs">
                                    <span class="input-group-addon"><i
                                            class="fa fa-user-circle-o fa-lg fa-fw"></i></span>
                                    {{ form.last_name }}
                                </div>
                                <div>
                                    {% if form.last_name.errors %}
                                        {% for error in form.last_name.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <br>
                                <div align="right">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    </br>
                </div>
                <p><br/></p>
            </div>
        </div>
    </form>
{% endblock %}